body{
background-image: url(https://imgs.search.brave.com/e1YLE5yjTD8R9K6Ax19kFbA9KfA4o9qLwMAQXq9iVpo/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNi8w/NS8wMS8yMS8yMC9l/YXJ0aC0xMzY1OTk1/XzY0MC5qcGc);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: antiquewhite;
margin: 0;
}
